.bg-light {
    background-color: #f0f0f0;
    margin-top: -300px;  /* Set for larger viewports */
}

.py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 2px;
}

.box {
    width: 300px;
    height: 250px;
    padding: 20px;
    background-color: #f5f5f5; 
    margin-bottom: 0;
    position: relative;
    text-align: right;
}

.column .box:not(:last-child) {
    margin-bottom: 2px;
}

.column:last-child {
    margin-right: 0;
}

.text-content {
    margin: 0;
    padding: 20px 0px;
}

.text-content p {
    display: none;
}

.box:hover .text-content p {
    display: block;
}

.check {
    position: absolute;
    right: 40px;
    bottom: 15px;
    color: blue;
    font-weight: bold;
    text-decoration: none;
    display: none;
}

.box:hover .check {
    display: block;
    text-decoration: underline;
}

.box:hover {
    background-color: lightgreen;
}

#accept-cookies {
    background-color: white;
    color: darkorange;
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.cookie-popup {
    position: absolute;
    z-index: 100000;
    right: 0;
    top: 500px;
    width: 320px;
    background-color: darkorange;
    color: white;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    font-size: 16px;
}

.nlp-box, .data-engineering-box {
    background-color: #F0F0F0;
}



/* Adjustments for viewports 900px or below */
@media only screen and (max-width: 868px) {
    .bg-light {
        margin-top: 00px;  /* Set for smaller viewports */
    }

    .column {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 0; 
    }

    .column .box {
        width: 95%;  /* Increased width */
        height: 200px;  /* Decreased height */
        margin: 10px auto;
    }

    .box .text-content p {
        display: block;  /* Always display the paragraph text */
    }

    .box .check {
        display: block;  /* Always display the "Check" link */
        text-decoration: underline;
    }
}



/* Adjustments for viewports 900px or below */
@media only screen and (max-width: 568px) {
    .bg-light {
        margin-top: 700px;  /* Set for smaller viewports */
    }

    .column {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 0; 
    }

    .column .box {
        width: 95%;  /* Increased width */
        height: 200px;  /* Decreased height */
        margin: 10px auto;
    }

    .box .text-content p {
        display: block;  /* Always display the paragraph text */
    }

    .box .check {
        display: block;  /* Always display the "Check" link */
        text-decoration: underline;
    }
}


/* Adjustments for viewports 900px or below */
@media only screen and (max-width: 768px) {
    .bg-light {
        margin-top: 700px;  /* Set for smaller viewports */
    }

    .column {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 0; 
    }

    .column .box {
        width: 95%;  /* Increased width */
        height: 200px;  /* Decreased height */
        margin: 10px auto;
    }

    .box .text-content p {
        display: block;  /* Always display the paragraph text */
    }

    .box .check {
        display: block;  /* Always display the "Check" link */
        text-decoration: underline;
    }
}



/* Adjustments for viewports 900px or below */
@media only screen and (max-width: 1068px) {
    .bg-light {
        margin-top: 700px;  /* Set for smaller viewports */
    }

    .column {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 0; 
    }

    .column .box {
        width: 95%;  /* Increased width */
        height: 200px;  /* Decreased height */
        margin: 10px auto;
    }

    .box .text-content p {
        display: block;  /* Always display the paragraph text */
    }

    .box .check {
        display: block;  /* Always display the "Check" link */
        text-decoration: underline;
    }
}


