.contact-container {
    display: flex;
    width: 100vw; /* This ensures the container takes up the full width of the viewport */
    margin: 0; /* Remove auto margin to prevent centering */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px; /* Adjust based on your navbar's height */
    position: relative; /* To ensure it overlays the home component */
    z-index: 500000; /* Higher z-index to ensure it's in front */
}

.left-section {
    flex: 1;
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 20px 0;
}

.right-section {
    flex: 2;
    background-color: #f5f5f5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-section input, .right-section textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* To ensure they take up the full width of the container */
}

.right-section textarea {
    height: 100px;
    resize: none;
}

.right-section button {
    align-self: flex-end;
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.right-section button:hover {
    background-color: lightgreen;
}

/* Responsive Design for 8 inches and below */
@media only screen and (max-width: 768px) {
    .contact-container {
        flex-direction: column; /* Stacks the left and right section on top of each other */
    }

    .contact-form .input-field,
    .contact-form .message-field {
        width: 100%; /* They should take the full width */
    }

    .contact-form .message-field textarea {
        height: 100px; /* Adjust this as per your preference */
    }
}

