/* Home Area Styling using Flexbox */
.home-slider {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: calc(100vh - (Content height of .navbar-top + 54px));
}

.video-container {
  position: relative;
  width: 100%;
  height: 0%;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1000;
  object-fit: cover;
}

.home-content {
  position: absolute;
  top: 33%;  
  left: 5%;
  z-index: 1;  
}

.home-content h1 {
  color: #55BA53;
  margin: 0;
  font-size: calc(20px + 1.5vw);
}

.home-content span {
  color: #fff;
  font-family: 'Verdana', sans-serif;
  font-weight: 700;
}

.home-content p {
  color: #ceced4;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
}

.btn {
  padding: 12px 24px;
  border: none;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
  color: #fff;
  border-radius: 10px;
}

.btn-primary, .home-content .btn-left {
  background: linear-gradient(to right, #0a3609, #55BA53);
}

.btn-secondary, .home-content .btn-right {
  background: linear-gradient(to right, #55BA53, #0a3609);
}

.dropdown-menu {
  position: absolute;
  left: 600px;
  top: 100px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
  animation: slideInFromBottom 0.3s ease-out;  
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

.dropdown-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: red !important;
  font-weight: bold;
}

.chat-dialogue {
  position: fixed;
  bottom: 10px;
  left: 600px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 15px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  animation: slideInFromBottom 0.3s ease-out;
}

.chat-dialogue textarea {
  width: 100%;
  min-height: 100px;
  margin: 10px 0;
  border-radius: 5px;
}

.chat-dialogue button {
  background-color: blue;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.btn-case-studies {
  background-color: transparent;
  border: 1px solid lightgreen;
  border-radius: 10px;
  color: white;
}

.btn-case-studies:hover {
  background-color: lightgreen;
  color: black;
}

.container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .dropdown-menu, .chat-dialogue {
    left: 5%;
  }
}

@media only screen and (max-width: 832px) {
  .top-navbar {
    display: none;
  }
  .bottom-navbar-item {
    border-radius: 50%;
  }
  .dropdown-content {
    display: none;
    flex-direction: column;
  }
  .dropdown-content.show {
    display: flex;
  }
}

.sticky-container {
  position: sticky;
  top: 0;
  z-index: 100;
}

html, body {
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

/* Responsive heights for .home-slider */
@media (min-width: 800px) {
  .home-slider {
    min-height: 300px;
    height: 80vh;
  }
}

@media (min-width: 992px) {
  .home-slider {
    min-height: 500px;
    height: 85vh;
  }
}

@media (min-width: 1200px) and (max-width: 1599px) {
  .home-slider {
    min-height: 800px;
    height: 95vh;
  }
}

@media (min-width: 1600px) {
  .home-slider {
    min-height: 800px;
    height: 95vh;
  }
}

